.read_more {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    z-index: 1;


    &::after {
        position: absolute;
        content: "";
        height: 35px;
        width: 35px;
        background: #777777;
        left: -15px;
        top: -7px;
        border-radius: 50%;
        z-index: -1;
    }


}